
@page
@model WebAppRazorpage.Areas.Admin.Pages.OrderDetail.CreateModel
@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="card">
        <div class="card-title">
            <h4>Create Order Detail</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="OrderDetailStatus">Order Detail Status</label>
                        <input asp-for="OrderDetailStatus" type="text" class="form-control" placeholder="Order Detail Status">
                    </div>
                    <div class="form-group">
                        <label asp-for="Cost">Cost</label>
                        <input asp-for="Cost" type="number" class="form-control" placeholder="Cost">
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderId">Order Id</label>
                        <input asp-for="OrderId" type="text" class="form-control" placeholder="Order Id">
                    </div>
                    <div class="form-group">
                        <label asp-for="OrchidId">Orchid Id</label>
                        <input asp-for="OrchidId" type="text" class="form-control" placeholder="Orchid Id">
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedTime">Created Time</label>
                        <input asp-for="CreatedTime" type="datetime-local" class="form-control">
                    </div>
                    <div class="form-group">
                        <label asp-for="LastUpdated">Last Updated</label>
                        <input asp-for="LastUpdated" type="datetime-local" class="form-control">
                    </div>
                    <input class="btn btn-default" value="Submit" type="submit" />
                </form>
            </div>
        </div>
    </div>
</div>