@*
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppRazorpage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppRazorpage.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/templatemolugxgaming.css">
    <link rel="stylesheet" href="~/css/owl.css">
    <link rel="stylesheet" href="~/css/animate.css">
</head>
<body>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="~/images/logo.png" alt="" style="width: 158px;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/Index">Home</a></li>
                            <li><a href="/Auction/Auctions" class="active">Our Shop</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="/SignIn">Sign In</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/admin/assets/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/admin/assets/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/admin/assets/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/admin/assets/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="~/admin/assets/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/admin/assets/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/admin/assets/js/custom.min.js"></script>
    <!--Addition JavaScript-->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppRazorpage.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/templatemolugxgaming.css">
    <link rel="stylesheet" href="~/css/owl.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <title>@ViewData["Title"] - WebAppRazorpage</title>


</head>
<body>
    <!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="w3-top">
        <div class="w3-row  w3-black">
            <div class="w3-half">
                <div class="w3-col s4">
                    <a href="#" class="w3-button w3-block w3-black">HOME</a>
                </div>
                <div class="w3-col s4">
                    <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
                </div>
                <div class="w3-col s4">
                    <a href="#menu" class="w3-button w3-block w3-black">MENU</a>
                </div>
            </div>
            @*
            ======================================================================
            *@         
            <div class="w3-half">

                <div class ="w3-half">

                </div>

                <div class="w3-half w3-right">

                <div class="w3-col s6">
                    <a href="#where" class="w3-button w3-block w3-black">Sign Up</a>
                </div>

                <div class="w3-col s6">
                    <a href="#where" class="w3-button w3-block w3-black">Sign In</a>
                </div>

                </div>

            </div>

        </div>
    </div>
 
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>