@page "{id}"
@model WebAppRazorpage.Areas.Admin.Pages.AuctionEvent.UpdateModel
@{
    Layout = "_AdminLayout";
}
<h1>Update Auction Event</h1>

<form method="post">
    <input type="hidden" asp-for="Model.Id" />

    <div class="form-group">
        <label asp-for="Model.BeginDateTime"></label>
        <input asp-for="Model.BeginDateTime" class="form-control" />
        <span asp-validation-for="Model.BeginDateTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Model.EndDateTime"></label>
        <input asp-for="Model.EndDateTime" class="form-control" />
        <span asp-validation-for="Model.EndDateTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Model.AuctionStatus"></label>
        <input asp-for="Model.AuctionStatus" class="form-control" />
        <span asp-validation-for="Model.AuctionStatus" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Model.StaffId"></label>
        <input asp-for="Model.StaffId" class="form-control" />
        <span asp-validation-for="Model.StaffId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update Auction Event</button>
</form>