.choose-sell-product-wuh {
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 22.736rem;
    width: 100%;
    transform: scale(0.5);
    transform-origin: top left;
    .header-LS3

{
    background-color: #ffffff;
    border: solid 0.1rem rgba(105, 105, 105, 0.0700000003);
    box-sizing: border-box;
    flex-shrink: 0;
    height: 8.6rem;
    padding: 0 30rem;
    width: 100%;
    .header-4N3

{
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem rgba(105, 105, 105, 0.0700000003);
    box-sizing: border-box;
    display: flex;
    height: 8.5rem;
    padding: 2rem 1.2rem 2.1rem 1.2rem;
    width: 100%;
    .link-logo-dau-gia-lac-vietpng-XWX

{
    background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/SusaBM2eLnZ7zMDRKXZFbw/files/image/6195c739a94c530613c8b6da157e0891f62ed406');
    background-size: 100% 100%;
    flex-shrink: 0;
    height: 4.4rem;
    margin-right: 8.928rem;
    position: relative;
    width: 16.672rem;
}

.list-N1M {
    align-items: flex-start;
    display: flex;
    flex-shrink: 0;
    height: calc(100% - 1.9rem);
    margin: 0.95rem 12.647rem 0.95rem 0rem;
    .item-SX1

{
    align-items: flex-end;
    display: flex;
    flex-shrink: 0;
    margin-right: 3.4rem;
    .link-ti-sn-u-gi-BUb

{
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    margin-right: 0.176rem;
    white-space: nowrap;
}

.icon-R83 {
    flex-shrink: 0;
    height: 1.95rem;
    margin-bottom: 0.1rem;
    overflow: hidden;
    position: relative;
    width: 1.3rem;
}

}

.item-j8j {
    align-items: flex-end;
    display: flex;
    flex-shrink: 0;
    margin-right: 3.382rem;
    .link-cuc-u-gi-Us1

{
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    margin-right: 0.342rem;
    white-space: nowrap;
}

.icon-NhV {
    flex-shrink: 0;
    height: 1.95rem;
    margin-bottom: 0.1rem;
    overflow: hidden;
    position: relative;
    width: 1.3rem;
}

}

.item-Woh {
    flex-shrink: 0;
    height: 2.4rem;
    margin-right: 7.1rem;
    position: relative;
    width: 10.8rem;
    .link-tin-tc-eQ7

{
    color: #1f2230;
    display: flex;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    height: 2.4rem;
    left: 0;
    line-height: 1.5;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 10.8rem;
}

.icon-v6j {
    height: 1.95rem;
    left: 6.278rem;
    overflow: hidden;
    position: absolute;
    top: 0.35rem;
    width: 1.3rem;
}

}

.gii-thiu-F91 {
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0.1rem 6.5rem 0rem 0rem;
    white-space: nowrap;
}

.lin-h-wGj {
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 0.1rem;
    white-space: nowrap;
}

}

.divnav-right-eB9 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: calc(100% - 0.2rem);
    margin: 0.1rem 0;
    .divsearch-btn-nHM

{
    border-radius: 2.1rem;
    flex-shrink: 0;
    height: 4.2rem;
    margin-right: 1.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.2rem;
}

.divlogin-trB {
    align-items: center;
    background-color: #b41712;
    border-radius: 0.4rem;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    text-transform: capitalize;
    white-space: nowrap;
    width: 13.353rem;
}

}
}
}

.divbanner-new-Tno {
    background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/SusaBM2eLnZ7zMDRKXZFbw/files/image/c0888d69009978e9bd7bfafa532b89f49884cb9a');
    background-position: 63.8rem 0;
    background-size: 50.772% 100%;
    border: solid 0.1rem #e0e0e0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 31.2rem;
    padding: 3.2rem 0rem 2.7rem 0rem;
    width: calc(100% - 62.4rem);
    .heading-2-danh-sch-cuc-u-gi-mYb

{
    color: #121212;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2857142857;
    margin-bottom: 1.8rem;
    white-space: nowrap;
}

.link-trang-ch-GET {
    align-items: baseline;
    color: #787878;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5714285714;
    white-space: nowrap;
    .link-trang-ch-GET-sub-0

{
}

.link-trang-ch-GET-sub-1 {
    color: #787878;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5714285714;
}

}

.divbanner-new-Tno-bg {
    background-image: url('REPLACE_IMAGE:c0888d69009978e9bd7bfafa532b89f49884cb9a');
    height: 13.5rem;
    position: relative;
    width: 129.6rem;
}

}

.auto-group-tqis-h6o {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 157.864rem;
    width: 100%;
    .section-bgpng-2HV

{
    background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/SusaBM2eLnZ7zMDRKXZFbw/files/image/7e15ac1928932ea252f3b67b70cac57200b4689a');
    background-size: 100% 100%;
    flex-shrink: 0;
    height: 64.4rem;
    margin: 40.064rem 14.2rem 0rem 0rem;
    position: relative;
    width: 50.2rem;
}

.auto-group-nwio-WCf {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    width: 127.6rem;
    .section-bgpng-eZm

{
    background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/SusaBM2eLnZ7zMDRKXZFbw/files/image/7e15ac1928932ea252f3b67b70cac57200b4689a');
    background-size: 100% 100%;
    height: 64.4rem;
    left: 77.4rem;
    position: relative;
    top: 0;
    width: 50.2rem;
}

.divcol-lg-9-9Fd {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 154.664rem;
    left: 0;
    position: absolute;
    top: 3.2rem;
    width: 108.5rem;
    .auto-group-rskf-TXD

{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 4.505rem;
    width: 100%;
    .auto-group-oyfv-nZV

{
    align-items: center;
    column-gap: 8.3rem;
    display: flex;
    flex-shrink: 0;
    height: 44.395rem;
    margin-bottom: 5.205rem;
    .diveg-card-7Ls

{
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #eeeeee;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.2rem 3rem rgba(0, 0, 0, 0.0599999987);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 0.2rem;
    overflow: hidden;
    padding: 0.1rem 0.1rem 3.099rem 0.1rem;
    position: relative;
    width: 30.6rem;
    .divauction-img-Bbd

{
    flex-shrink: 0;
    margin-bottom: 6.8785rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    .link-online-auction-salesistockjpg-vp7

{
    background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/SusaBM2eLnZ7zMDRKXZFbw/files/image/36d4357bea68678502f6f087c7ebdc429a87749a');
    background-position: 0 -1.4rem;
    background-size: 100% 114%;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 20rem;
    position: relative;
    width: 30.4rem;
}

}

.divauction-content-Bk3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    .auto-group-n8ru-KLT

{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 1.05rem;
    width: 100%;
    .heading-4-link-quyn-s-dng-t-ti-a-ch--etX

{
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3999999762;
    margin-bottom: 5.2675rem;
    white-space: nowrap;
}

.gi-20000000-vnd-itP {
    align-items: baseline;
    color: #696969;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    .gi-20000000-vnd-itP-sub-0

{
}

.gi-20000000-vnd-itP-sub-1 {
    color: #ffc107;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
}

}
}

.auto-group-idjw-b51 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.4rem;
    width: 100%;
    .link-LYP

{
    align-items: center;
    background-color: #b41712;
    border-radius: 0.5rem;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    margin-right: 14.448rem;
    text-transform: capitalize;
    white-space: nowrap;
    width: 8.552rem;
}

.ibxs-share-alt-Bou {
    border-radius: 1.7rem;
    flex-shrink: 0;
    height: 3.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
}

}
}
}

.diveg-card-qtT {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #eeeeee;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.2rem 3rem rgba(0, 0, 0, 0.0599999987);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: calc(100% - 0.2rem);
    margin: 0.1rem 0;
    overflow: hidden;
    padding: 0.1rem 0.1rem 3.099rem 0.1rem;
    position: relative;
    width: 30.6rem;
    .divauction-img-8cf

{
    flex-shrink: 0;
    margin-bottom: 6.8785rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    .link-online-auction-salesistockjpg-geB

{
    background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/SusaBM2eLnZ7zMDRKXZFbw/files/image/36d4357bea68678502f6f087c7ebdc429a87749a');
    background-position: 0 -1.4rem;
    background-size: 100% 114%;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 20rem;
    position: relative;
    width: 30.4rem;
}

}

.divauction-content-kP9 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    .auto-group-6g63-6C7

{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 1.05rem;
    width: 100%;
    .heading-4-link-quyn-s-dng-t-ti-a-ch--cw9

{
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3999999762;
    margin-bottom: 5.2675rem;
    white-space: nowrap;
}

.gi-20000000-vnd-UyM {
    align-items: baseline;
    color: #696969;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    .gi-20000000-vnd-UyM-sub-0

{
}

.gi-20000000-vnd-UyM-sub-1 {
    color: #ffc107;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
}

}
}

.auto-group-uxfq-bwV {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.4rem;
    width: 100%;
    .link-9i7

{
    align-items: center;
    background-color: #b41712;
    border-radius: 0.5rem;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    margin-right: 14.448rem;
    text-transform: capitalize;
    white-space: nowrap;
    width: 8.552rem;
}

.ibxs-share-alt-Qe3 {
    border-radius: 1.7rem;
    flex-shrink: 0;
    height: 3.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
}

}
}
}

.diveg-card-4Co {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #eeeeee;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.2rem 3rem rgba(0, 0, 0, 0.0599999987);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0.2rem;
    overflow: hidden;
    padding: 0.1rem 0.1rem 3.099rem 0.1rem;
    position: relative;
    width: 30.6rem;
    .divauction-img-Mxb

{
    flex-shrink: 0;
    margin-bottom: 6.8785rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    .link-online-auction-salesistockjpg-7B5

{
    background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/SusaBM2eLnZ7zMDRKXZFbw/files/image/36d4357bea68678502f6f087c7ebdc429a87749a');
    background-position: 0 -1.4rem;
    background-size: 100% 114%;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 20rem;
    position: relative;
    width: 30.4rem;
}

}

.divauction-content-YXH {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    .auto-group-wrhq-t5M

{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 1.05rem;
    width: 100%;
    .heading-4-link-quyn-s-dng-t-ti-a-ch--pDu

{
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3999999762;
    margin-bottom: 5.2675rem;
    white-space: nowrap;
}

.gi-20000000-vnd-tzT {
    align-items: baseline;
    color: #696969;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    .gi-20000000-vnd-tzT-sub-0

{
}

.gi-20000000-vnd-tzT-sub-1 {
    color: #ffc107;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
}

}
}

.auto-group-9jnk-Seb {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.4rem;
    width: 100%;
    .link-BMH

{
    align-items: center;
    background-color: #b41712;
    border-radius: 0.5rem;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    margin-right: 14.448rem;
    text-transform: capitalize;
    white-space: nowrap;
    width: 8.552rem;
}

.ibxs-share-alt-38b {
    border-radius: 1.7rem;
    flex-shrink: 0;
    height: 3.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
}

}
}
}
}

.auto-group-jiwq-tf1 {
    align-items: flex-start;
    column-gap: 8.3rem;
    display: flex;
    flex-shrink: 0;
    .diveg-card-poZ

{
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #eeeeee;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.2rem 3rem rgba(0, 0, 0, 0.0599999987);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    padding: 0.1rem 0.1rem 3.099rem 0.1rem;
    position: relative;
    width: 30.6rem;
    .divauction-img-wNP

{
    flex-shrink: 0;
    margin-bottom: 6.8785rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    .link-online-auction-salesistockjpg-5zP

{
    background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/SusaBM2eLnZ7zMDRKXZFbw/files/image/36d4357bea68678502f6f087c7ebdc429a87749a');
    background-position: 0 -1.4rem;
    background-size: 100% 114%;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 20rem;
    position: relative;
    width: 30.4rem;
}

}

.divauction-content-kqd {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    .auto-group-jtzj-twq

{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 1.05rem;
    width: 100%;
    .heading-4-link-quyn-s-dng-t-ti-a-ch--2HM

{
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3999999762;
    margin-bottom: 5.2675rem;
    white-space: nowrap;
}

.gi-20000000-vnd-urw {
    align-items: baseline;
    color: #696969;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    .gi-20000000-vnd-urw-sub-0

{
}

.gi-20000000-vnd-urw-sub-1 {
    color: #ffc107;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
}

}
}

.auto-group-gadm-Gqu {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.4rem;
    width: 100%;
    .link-QhD

{
    align-items: center;
    background-color: #b41712;
    border-radius: 0.5rem;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    margin-right: 14.448rem;
    text-transform: capitalize;
    white-space: nowrap;
    width: 8.552rem;
}

.ibxs-share-alt-sao {
    border-radius: 1.7rem;
    flex-shrink: 0;
    height: 3.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
}

}
}
}

.diveg-card-v3H {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #eeeeee;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.2rem 3rem rgba(0, 0, 0, 0.0599999987);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 0.1rem;
    overflow: hidden;
    padding: 0.1rem 0.1rem 3.099rem 0.1rem;
    position: relative;
    width: 30.6rem;
    .divauction-img-DYB

{
    flex-shrink: 0;
    margin-bottom: 6.8785rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    .link-online-auction-salesistockjpg-xkf

{
    background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/SusaBM2eLnZ7zMDRKXZFbw/files/image/36d4357bea68678502f6f087c7ebdc429a87749a');
    background-position: 0 -1.4rem;
    background-size: 100% 114%;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 20rem;
    position: relative;
    width: 30.4rem;
}

}

.divauction-content-SQw {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    .auto-group-ftwm-my1

{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 1.05rem;
    width: 100%;
    .heading-4-link-quyn-s-dng-t-ti-a-ch--v5D

{
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3999999762;
    margin-bottom: 5.2675rem;
    white-space: nowrap;
}

.gi-20000000-vnd-D4K {
    align-items: baseline;
    color: #696969;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    .gi-20000000-vnd-D4K-sub-0

{
}

.gi-20000000-vnd-D4K-sub-1 {
    color: #ffc107;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
}

}
}

.auto-group-rjkt-kiT {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.4rem;
    width: 100%;
    .link-hNo

{
    align-items: center;
    background-color: #b41712;
    border-radius: 0.5rem;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    margin-right: 14.448rem;
    text-transform: capitalize;
    white-space: nowrap;
    width: 8.552rem;
}

.ibxs-share-alt-AGP {
    border-radius: 1.7rem;
    flex-shrink: 0;
    height: 3.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
}

}
}
}

.diveg-card-CTy {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #eeeeee;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.2rem 3rem rgba(0, 0, 0, 0.0599999987);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 0.7rem;
    overflow: hidden;
    padding: 0.1rem 0.1rem 3.099rem 0.1rem;
    position: relative;
    width: 30.6rem;
    .divauction-img-Jmu

{
    flex-shrink: 0;
    margin-bottom: 6.8785rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    .link-online-auction-salesistockjpg-rHd

{
    background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/SusaBM2eLnZ7zMDRKXZFbw/files/image/36d4357bea68678502f6f087c7ebdc429a87749a');
    background-position: 0 -1.4rem;
    background-size: 100% 114%;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 20rem;
    position: relative;
    width: 30.4rem;
}

}

.divauction-content-Kh1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    .auto-group-nshv-G6T

{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 1.05rem;
    width: 100%;
    .heading-4-link-quyn-s-dng-t-ti-a-ch--D1h

{
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3999999762;
    margin-bottom: 5.2675rem;
    white-space: nowrap;
}

.gi-20000000-vnd-uQK {
    align-items: baseline;
    color: #696969;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    .gi-20000000-vnd-uQK-sub-0

{
}

.gi-20000000-vnd-uQK-sub-1 {
    color: #ffc107;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
}

}
}

.auto-group-euyt-4gX {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.4rem;
    width: 100%;
    .link-cT9

{
    align-items: center;
    background-color: #b41712;
    border-radius: 0.5rem;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    margin-right: 14.448rem;
    text-transform: capitalize;
    white-space: nowrap;
    width: 8.552rem;
}

.ibxs-share-alt-fwD {
    border-radius: 1.7rem;
    flex-shrink: 0;
    height: 3.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
}

}
}
}
}
}

.auto-group-aj1h-iPh {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 44.595rem;
    margin-bottom: 7.269rem;
    width: 100%;
    .diveg-card-SqV

{
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #eeeeee;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.2rem 3rem rgba(0, 0, 0, 0.0599999987);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 8.3rem 0.4rem 0rem;
    overflow: hidden;
    padding: 0.1rem 0.1rem 3.099rem 0.1rem;
    position: relative;
    width: 30.6rem;
    .divauction-img-iY7

{
    flex-shrink: 0;
    margin-bottom: 6.8785rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    .link-online-auction-salesistockjpg-fiF

{
    background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/SusaBM2eLnZ7zMDRKXZFbw/files/image/36d4357bea68678502f6f087c7ebdc429a87749a');
    background-position: 0 -1.4rem;
    background-size: 100% 114%;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 20rem;
    position: relative;
    width: 30.4rem;
}

}

.divauction-content-YGF {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    .auto-group-pwas-Uvb

{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 1.05rem;
    width: 100%;
    .heading-4-link-quyn-s-dng-t-ti-a-ch--Ees

{
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3999999762;
    margin-bottom: 5.2675rem;
    white-space: nowrap;
}

.gi-20000000-vnd-vGo {
    align-items: baseline;
    color: #696969;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    .gi-20000000-vnd-vGo-sub-0

{
}

.gi-20000000-vnd-vGo-sub-1 {
    color: #ffc107;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
}

}
}

.auto-group-fnat-5J7 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.4rem;
    width: 100%;
    .link-d4j

{
    align-items: center;
    background-color: #b41712;
    border-radius: 0.5rem;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    margin-right: 14.448rem;
    text-transform: capitalize;
    white-space: nowrap;
    width: 8.552rem;
}

.ibxs-share-alt-5hR {
    border-radius: 1.7rem;
    flex-shrink: 0;
    height: 3.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
}

}
}
}

.diveg-card-XpK {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #eeeeee;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.2rem 3rem rgba(0, 0, 0, 0.0599999987);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: calc(100% - 0.4rem);
    margin: 0.3rem 8.4rem 0.1rem 0rem;
    overflow: hidden;
    padding: 0.1rem 0.1rem 3.099rem 0.1rem;
    position: relative;
    width: 30.6rem;
    .divauction-img-cas

{
    flex-shrink: 0;
    margin-bottom: 6.8785rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    .link-online-auction-salesistockjpg-ZW7

{
    background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/SusaBM2eLnZ7zMDRKXZFbw/files/image/36d4357bea68678502f6f087c7ebdc429a87749a');
    background-position: 0 -1.4rem;
    background-size: 100% 114%;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 20rem;
    position: relative;
    width: 30.4rem;
}

}

.divauction-content-QWj {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    .auto-group-ehfm-8hd

{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 1.05rem;
    width: 100%;
    .heading-4-link-quyn-s-dng-t-ti-a-ch--GJ3

{
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3999999762;
    margin-bottom: 5.2675rem;
    white-space: nowrap;
}

.gi-20000000-vnd-9cj {
    align-items: baseline;
    color: #696969;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    .gi-20000000-vnd-9cj-sub-0

{
}

.gi-20000000-vnd-9cj-sub-1 {
    color: #ffc107;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
}

}
}

.auto-group-rxyf-ipF {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.4rem;
    width: 100%;
    .link-GKy

{
    align-items: center;
    background-color: #b41712;
    border-radius: 0.5rem;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    margin-right: 14.448rem;
    text-transform: capitalize;
    white-space: nowrap;
    width: 8.552rem;
}

.ibxs-share-alt-Wk7 {
    border-radius: 1.7rem;
    flex-shrink: 0;
    height: 3.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
}

}
}
}

.diveg-card-9YB {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #eeeeee;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.2rem 3rem rgba(0, 0, 0, 0.0599999987);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 0.4rem;
    overflow: hidden;
    padding: 0.1rem 0.1rem 3.099rem 0.1rem;
    position: relative;
    width: 30.6rem;
    .divauction-img-T35

{
    flex-shrink: 0;
    margin-bottom: 6.8785rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    .link-online-auction-salesistockjpg-PhR

{
    background-image: url('/api/prod-ap-southeast-1-first-cluster/projects/SusaBM2eLnZ7zMDRKXZFbw/files/image/36d4357bea68678502f6f087c7ebdc429a87749a');
    background-position: 0 -1.4rem;
    background-size: 100% 114%;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 20rem;
    position: relative;
    width: 30.4rem;
}

}

.divauction-content-TxB {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    .auto-group-x5wo-om9

{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 1.05rem;
    width: 100%;
    .heading-4-link-quyn-s-dng-t-ti-a-ch--MGs

{
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3999999762;
    margin-bottom: 5.2675rem;
    white-space: nowrap;
}

.gi-20000000-vnd-qhq {
    align-items: baseline;
    color: #696969;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
    .gi-20000000-vnd-qhq-sub-0

{
}

.gi-20000000-vnd-qhq-sub-1 {
    color: #ffc107;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
}

}
}

.auto-group-cyws-CB1 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.4rem;
    width: 100%;
    .link-YEs

{
    align-items: center;
    background-color: #b41712;
    border-radius: 0.5rem;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    margin-right: 14.448rem;
    text-transform: capitalize;
    white-space: nowrap;
    width: 8.552rem;
}

.ibxs-share-alt-z6s {
    border-radius: 1.7rem;
    flex-shrink: 0;
    height: 3.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.4rem;
}

}
}
}
}

.auto-group-6mex-SjZ {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.8rem;
    margin: 0rem 48.066rem 0rem 35.766rem;
    width: calc(100% - 83.832rem);
    .nav-list-item-link-9dy

{
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #dee2e6;
    border-radius: 0.8rem 0.8rem 0.2rem 0.8rem;
    box-sizing: border-box;
    color: #6c757d;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 400;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    margin-right: 1.499rem;
    white-space: nowrap;
    width: 7.202rem;
}

.nav-list-item-link-Baf {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #b41712;
    border-radius: 0.8rem 0.8rem 0.2rem 0.8rem;
    box-sizing: border-box;
    color: #b41712;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 400;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    margin-right: 1.6rem;
    white-space: nowrap;
    width: 3.192rem;
}

.nav-list-item-link-dxT {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #eeeeee;
    border-radius: 0.8rem 0.8rem 0.2rem 0.8rem;
    box-sizing: border-box;
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 400;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    margin-right: 1.6rem;
    white-space: nowrap;
    width: 3.519rem;
}

.nav-list-item-link-tNb {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #eeeeee;
    border-radius: 0.8rem 0.8rem 0.2rem 0.8rem;
    box-sizing: border-box;
    color: #1f2230;
    display: flex;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 400;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    white-space: nowrap;
    width: 6.056rem;
}

}
}
}
}
}
