@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="~/css/ProductSellPage.css">

</head>
<body>
    <div class="choose-sell-product-wuh" id="19:1307">
        <div class="header-LS3" id="19:1308">
            <div class="header-4N3" id="19:1309">
                <div class="link-logo-dau-gia-lac-vietpng-XWX" id="19:1311"></div>
                <div class="list-N1M" id="19:1312">
                    <div class="item-SX1" id="19:1317">
                        <div class="link-ti-sn-u-gi-BUb" id="19:1318">Tài sản đấu giá</div>
                        <div class="icon-R83" id="19:1319"></div>
                    </div>
                    <div class="item-j8j" id="19:1321">
                        <div class="link-cuc-u-gi-Us1" id="19:1322">Cuộc đấu giá</div>
                        <div class="icon-NhV" id="19:1323"></div>
                    </div>
                    <div class="item-Woh" id="19:1325">
                        <div class="link-tin-tc-eQ7" id="19:1326">Mua bán hoa</div>
                        <div class="icon-v6j" id="19:1327"></div>
                    </div>
                    <div class="gii-thiu-F91" id="19:1314">Giới thiệu</div>
                    <div class="lin-h-wGj" id="19:1316">Liên hệ</div>
                </div>
                <div class="divnav-right-eB9" id="19:1329">
                    <img class="divsearch-btn-nHM" src="/api/prod-ap-southeast-1-first-cluster/projects/Su..." id="19:1334" />
                    <div class="divlogin-trB" id="19:1337">Đăng nhập</div>
                </div>
            </div>
        </div>
        <div class="auto-group-tqis-h6o" id="Tc4beGnSoNeFTfALJGTQis">
     
            <div class="auto-group-nwio-WCf" id="Tc4bkSGqoLAmND7UcXnwio">
                <div class="section-bgpng-eZm" id="19:1384"></div>
                <div class="divcol-lg-9-9Fd" id="19:1421">
                    <div class="auto-group-rskf-TXD" id="Tc4g8Jypk1MTpaKvSzRSkf">
                        <div class="auto-group-oyfv-nZV" id="Tc4c26VR9bq6upppApoyfV">
                            <div class="diveg-card-7Ls" id="19:1815">
                                <div class="divauction-img-Bbd" id="19:1816">
                                    <div class="link-online-auction-salesistockjpg-vp7" id="19:1817"></div>
                                </div>
                                <div class="divauction-content-Bk3" id="19:1820">
                                    <div class="auto-group-n8ru-KLT" id="Tc4cRVz5tYhvdqSzain8Ru">
                                        <div class="heading-4-link-quyn-s-dng-t-ti-a-ch--etX" id="19:1821">Hoa</div>
                                        <div class="gi-20000000-vnd-itP" id="19:1822">
                                            <span class="gi-20000000-vnd-itP-sub-0">Giá : </span>
                                            <span class="gi-20000000-vnd-itP-sub-1">20.000.000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="auto-group-idjw-b51" id="Tc4cHb3bvxG5GceVt2iDJw">
                                        <div class="link-LYP" id="19:1826">Chi tiết</div>
                                        <img class="ibxs-share-alt-Bou" src="/api/prod-ap-southeast-1-first-cluster/projects/Su..." id="19:1823" />
                                    </div>
                                </div>
                            </div>
                            <div class="diveg-card-qtT" id="19:1830">
                                <div class="divauction-img-8cf" id="19:1831">
                                    <div class="link-online-auction-salesistockjpg-geB" id="19:1832"></div>
                                </div>
                                <div class="divauction-content-kP9" id="19:1835">
                                    <div class="auto-group-6g63-6C7" id="Tc4cqQTvLFGqvKk8Xt6g63">
                                        <div class="heading-4-link-quyn-s-dng-t-ti-a-ch--cw9" id="19:1836">Hoa</div>
                                        <div class="gi-20000000-vnd-UyM" id="19:1837">
                                            <span class="gi-20000000-vnd-UyM-sub-0">Giá : </span>
                                            <span class="gi-20000000-vnd-UyM-sub-1">20.000.000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="auto-group-uxfq-bwV" id="Tc4chKs3ojbdNH3yz6uxfq">
                                        <div class="link-9i7" id="19:1841">Chi tiết</div>
                                        <img class="ibxs-share-alt-Qe3" src="/api/prod-ap-southeast-1-first-cluster/projects/Su..." id="19:1838" />
                                    </div>
                                </div>
                            </div>
                            <div class="diveg-card-4Co" id="19:1845">
                                <div class="divauction-img-Mxb" id="19:1846">
                                    <div class="link-online-auction-salesistockjpg-7B5" id="19:1847"></div>
                                </div>
                                <div class="divauction-content-YXH" id="19:1850">
                                    <div class="auto-group-wrhq-t5M" id="Tc4dEj8PnjXz3vRV2EWRhq">
                                        <div class="heading-4-link-quyn-s-dng-t-ti-a-ch--pDu" id="19:1851">Hoa</div>
                                        <div class="gi-20000000-vnd-tzT" id="19:1852">
                                            <span class="gi-20000000-vnd-tzT-sub-0">Giá : </span>
                                            <span class="gi-20000000-vnd-tzT-sub-1">20.000.000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="auto-group-9jnk-Seb" id="Tc4d7pAFEeUKoexuQ59JNK">
                                        <div class="link-BMH" id="19:1856">Chi tiết</div>
                                        <img class="ibxs-share-alt-38b" src="/api/prod-ap-southeast-1-first-cluster/projects/Su..." id="19:1853" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="auto-group-jiwq-tf1" id="Tc4dQPWxhxuAsp5L7MJiwq">
                            <div class="diveg-card-poZ" id="19:1477">
                                <div class="divauction-img-wNP" id="19:1478">
                                    <div class="link-online-auction-salesistockjpg-5zP" id="19:1479"></div>
                                </div>
                                <div class="divauction-content-kqd" id="19:1482">
                                    <div class="auto-group-jtzj-twq" id="Tc4dmiEmMSPvmW4rSeJtzj">
                                        <div class="heading-4-link-quyn-s-dng-t-ti-a-ch--2HM" id="19:1483">Hoa</div>
                                        <div class="gi-20000000-vnd-urw" id="19:1484">
                                            <span class="gi-20000000-vnd-urw-sub-0">Giá : </span>
                                            <span class="gi-20000000-vnd-urw-sub-1">20.000.000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="auto-group-gadm-Gqu" id="Tc4deYn2wyVDjzmo3rGaDM">
                                        <div class="link-QhD" id="19:1488">Chi tiết</div>
                                        <img class="ibxs-share-alt-sao" src="/api/prod-ap-southeast-1-first-cluster/projects/Su..." id="19:1485" />
                                    </div>
                                </div>
                            </div>
                            <div class="diveg-card-v3H" id="19:1860">
                                <div class="divauction-img-DYB" id="19:1861">
                                    <div class="link-online-auction-salesistockjpg-xkf" id="19:1862"></div>
                                </div>
                                <div class="divauction-content-SQw" id="19:1865">
                                    <div class="auto-group-ftwm-my1" id="Tc4e9XwjhfanDfjLKCfTwM">
                                        <div class="heading-4-link-quyn-s-dng-t-ti-a-ch--v5D" id="19:1866">Hoa</div>
                                        <div class="gi-20000000-vnd-D4K" id="19:1867">
                                            <span class="gi-20000000-vnd-D4K-sub-0">Giá : </span>
                                            <span class="gi-20000000-vnd-D4K-sub-1">20.000.000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="auto-group-rjkt-kiT" id="Tc4e2honS38oZpDacarjkT">
                                        <div class="link-hNo" id="19:1871">Chi tiết</div>
                                        <img class="ibxs-share-alt-AGP" src="/api/prod-ap-southeast-1-first-cluster/projects/Su..." id="19:1868" />
                                    </div>
                                </div>
                            </div>
                            <div class="diveg-card-CTy" id="19:1875">
                                <div class="divauction-img-Jmu" id="19:1876">
                                    <div class="link-online-auction-salesistockjpg-rHd" id="19:1877"></div>
                                </div>
                                <div class="divauction-content-Kh1" id="19:1880">
                                    <div class="auto-group-nshv-G6T" id="Tc4eX2Kvv4JuJBcWVanSHV">
                                        <div class="heading-4-link-quyn-s-dng-t-ti-a-ch--D1h" id="19:1881">Hoa</div>
                                        <div class="gi-20000000-vnd-uQK" id="19:1882">
                                            <span class="gi-20000000-vnd-uQK-sub-0">Giá : </span>
                                            <span class="gi-20000000-vnd-uQK-sub-1">20.000.000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="auto-group-euyt-4gX" id="Tc4eQSgZVohyRZwEZbeuYT">
                                        <div class="link-cT9" id="19:1886">Chi tiết</div>
                                        <img class="ibxs-share-alt-fwD" src="/api/prod-ap-southeast-1-first-cluster/projects/Su..." id="19:1883" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="auto-group-aj1h-iPh" id="Tc4ehX2Sfspv4Cicp9Aj1h">
                        <div class="diveg-card-SqV" id="19:1890">
                            <div class="divauction-img-iY7" id="19:1891">
                                <div class="link-online-auction-salesistockjpg-fiF" id="19:1892"></div>
                            </div>
                            <div class="divauction-content-YGF" id="19:1895">
                                <div class="auto-group-pwas-Uvb" id="Tc4f4Lm5cbdaPR3BcApWAs">
                                    <div class="heading-4-link-quyn-s-dng-t-ti-a-ch--Ees" id="19:1896">Hoa</div>
                                    <div class="gi-20000000-vnd-vGo" id="19:1897">
                                        <span class="gi-20000000-vnd-vGo-sub-0">Giá : </span>
                                        <span class="gi-20000000-vnd-vGo-sub-1">20.000.000 vnd</span>
                                    </div>
                                </div>
                                <div class="auto-group-fnat-5J7" id="Tc4ewqwuUoeL7DJjbjFNaT">
                                    <div class="link-d4j" id="19:1901">Chi tiết</div>
                                    <img class="ibxs-share-alt-5hR" src="/api/prod-ap-southeast-1-first-cluster/projects/Su..." id="19:1898" />
                                </div>
                            </div>
                        </div>
                        <div class="diveg-card-XpK" id="19:1905">
                            <div class="divauction-img-cas" id="19:1906">
                                <div class="link-online-auction-salesistockjpg-ZW7" id="19:1907"></div>
                            </div>
                            <div class="divauction-content-QWj" id="19:1910">
                                <div class="auto-group-ehfm-8hd" id="Tc4fPzrzatpgQr8BUaehFM">
                                    <div class="heading-4-link-quyn-s-dng-t-ti-a-ch--GJ3" id="19:1911">Hoa</div>
                                    <div class="gi-20000000-vnd-9cj" id="19:1912">
                                        <span class="gi-20000000-vnd-9cj-sub-0">Giá : </span>
                                        <span class="gi-20000000-vnd-9cj-sub-1">20.000.000 vnd</span>
                                    </div>
                                </div>
                                <div class="auto-group-rxyf-ipF" id="Tc4fJ12z9rXXh84h1QRxYf">
                                    <div class="link-GKy" id="19:1916">Chi tiết</div>
                                    <img class="ibxs-share-alt-Wk7" src="/api/prod-ap-southeast-1-first-cluster/projects/Su..." id="19:1913" />
                                </div>
                            </div>
                        </div>
                        <div class="diveg-card-9YB" id="19:1920">
                            <div class="divauction-img-T35" id="19:1921">
                                <div class="link-online-auction-salesistockjpg-PhR" id="19:1922"></div>
                            </div>
                            <div class="divauction-content-TxB" id="19:1925">
                                <div class="auto-group-x5wo-om9" id="Tc4fkKcTprwFBamnjLx5Wo">
                                    <div class="heading-4-link-quyn-s-dng-t-ti-a-ch--MGs" id="19:1926">Hoa</div>
                                    <div class="gi-20000000-vnd-qhq" id="19:1927">
                                        <span class="gi-20000000-vnd-qhq-sub-0">Giá : </span>
                                        <span class="gi-20000000-vnd-qhq-sub-1">20.000.000 vnd</span>
                                    </div>
                                </div>
                                <div class="auto-group-cyws-CB1" id="Tc4feA84puQjH2peR5cYWs">
                                    <div class="link-YEs" id="19:1931">Chi tiết</div>
                                    <img class="ibxs-share-alt-z6s" src="/api/prod-ap-southeast-1-first-cluster/projects/Su..." id="19:1928" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="auto-group-6mex-SjZ" id="Tc4fvUzCSqzXZx6bMj6meX">
                        <div class="nav-list-item-link-9dy" id="19:1567">Trước</div>
                        <div class="nav-list-item-link-Baf" id="19:1569">1</div>
                        <div class="nav-list-item-link-dxT" id="19:1571">2</div>
                        <div class="nav-list-item-link-tNb" id="19:1573">Tiếp</div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>



</html>