@page
@model WebAppRazorpage.Pages.SignInModel
@{
    ViewData["Title"] = "Login";
    var errorMessage = ViewData["ErrorMessage"] as string ?? "";
}

<h1>Login</h1>

<form method="post">
    <div>
        <label asp-for="Username">Username:</label>
        <input asp-for="Username" type="text" id="username" name="username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" id="password" name="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <input class="btn btn-primary" value="Sign In" type="submit" />
</form>
<p readonly style="color:red">@errorMessage</p>
<div>
    <a asp-page="./SignUp">SignUp Here</a> | <a asp-page="./ForgotPassword">Forgot Password</a>
</div>