@page
@model WebAppRazorpage.Pages.ProductOwner.CreateAuctionEventModel
@{
    Layout = "_ProductOwnerLayout";
}

<div class="container">
    <h2>Tạo buổi đấu giá</h2>
    
    <form>
        
        <div class="form-group">
            <label for="">Gía khởi điểm:</label>
            <input type="" class="form-control" id="" placeholder="Nhập giá khởi điểm">
        </div>
        <div class="form-group">
            <label for="">Giá dự kiến:</label>
            <input type="" class="form-control" id="" placeholder="Nhập giá dự kiến">
        </div>
        <div class="form-group">
            <label for="address">Bước giá tối thiểu:</label>
            <textarea class="form-control" id="" rows="3" placeholder="Nhập bước giá"></textarea>
        </div>
        
        <div class="form-group">
            <label for="">Bước giá tối đa:</label>
            <input type="" class="form-control" id="" placeholder="Nhập bước giá">
        </div>
        <div class="form-group">
            <label for="">Thời gian bắt đầu:</label>
            <input type="" class="form-control" id="" placeholder="Nhập thời gian">
        </div>
        <div class="form-group">
            <label for="">Thời gian kết thúc:</label>
            <input type="" class="form-control" id="" placeholder="Nhập thời gian">
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>