@page
@model WebAppRazorpage.Pages.ProductOwner.CreateAuctionEventModel
@{
    Layout = "_ProductOwnerLayout";
}

<div class="container">
    <h2>Tạo buổi đấu giá</h2>

    <form method="post">
        <div class="form-group">
            <label asp-for="StartingPrice">Gía khởi điểm:</label>
            <input asp-for="StartingPrice" class="form-control" placeholder="Nhập giá khởi điểm">
            <span asp-validation-for="StartingPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ExpectedPrice">Giá dự kiến:</label>
            <input asp-for="ExpectedPrice" class="form-control" placeholder="Nhập giá dự kiến">
            <span asp-validation-for="ExpectedPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MinRaise">Bước giá tối thiểu:</label>
            <input asp-for="MinRaise" class="form-control" placeholder="Nhập bước giá">
            <span asp-validation-for="MinRaise" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MaxRaise">Bước giá tối đa:</label>
            <input asp-for="MaxRaise" class="form-control" placeholder="Nhập bước giá">
            <span asp-validation-for="MaxRaise" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BeginDateTime">Thời gian bắt đầu:</label>
            <input asp-for="BeginDateTime" type="datetime-local" class="form-control" placeholder="Nhập thời gian">
            <span asp-validation-for="BeginDateTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDateTime">Thời gian kết thúc:</label>
            <input asp-for="EndDateTime" type="datetime-local" class="form-control" placeholder="Nhập thời gian">
            <span asp-validation-for="EndDateTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FinalPrice">Giá cuối cùng:</label>
            <input asp-for="FinalPrice" class="form-control" placeholder="Nhập giá cuối cùng">
            <span asp-validation-for="FinalPrice" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>