@page
@model WebAppRazorpage.Pages.Auction.AuctionsModel
@{
    Layout = "_ProductOwnerLayout";
   
}
   

 <div class="contact-page section">
     <div class="container">
         <div class="row">
             <div class="col-lg-6">
                 <div class="right-content">
                     <div class="row">
                         <div class="col-lg-12">
                             <div id="map">
                             </div>
                         </div>
                         <div class="col-lg-12">
                             <form id="contact-form" action="" method="post">
                                 <div class="row">
                                     <div class="col-lg-6">
                                         <fieldset>
                                             <input type="" name="" id="" placeholder="Nhập Màu sắc" autocomplete="on" required>
                                         </fieldset>
                                     </div>
                                     <div class="col-lg-6">
                                         <fieldset>
                                             <input type="" name="" id="" placeholder="Nhập Kích thước" autocomplete="on" required>
                                         </fieldset>
                                     </div>
                                     <div class="col-lg-6">
                                         <fieldset>
                                             <input type="" name="" id="" placeholder="Nhập Hình dáng" autocomplete="on">
                                         </fieldset>
                                     </div>
                                     <div class="col-lg-6">
                                         <fieldset>
                                             <input type="file">
                                         </fieldset>
                                     </div>
                                     <div class="col-lg-12">
                                         <fieldset>
                                             <input type="" name="" id="" placeholder="Nhập giá" autocomplete="on">
                                         </fieldset>
                                     </div>
                                     <div class="col-lg-12">
                                         <fieldset>
                                             <button type="submit" id="form-submit" class="orange-button">SUBMIT</button>
                                         </fieldset>
                                     </div>

                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>




@section head {
    <link href="~/admin/assets/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
    <link href="~/admin/assets/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="~/admin/assets/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/admin/assets/css/lib/owl.theme.default.min.css" rel="stylesheet" />
}

