@page
@model WebAppRazorpage.Pages.ProductOwner.OrchidListModel
@{
    Layout = "_ProductOwnerLayout";
  }


    <div class="section trending">
        <div class="container">


            <div class="row">
                <div class="col-lg-12">
                    <h3>Thông tin hoa của bạn</h3>
                </div>
            </div>


            <div class="row trending-box">
                @*  @foreach (var product in Model.Products)
                { *@
                <div class="col-lg-3 col-md-6 align-self-center mb-30 trending-items col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <a href="/ProductDetail"><img src="~/images/hoa.jpeg" alt=""></a>
                        </div>
                        <div class="down-content">                           
                            <h4>Name</h4>
                            <span>Hoa:</span>
                            <a href="/ProductDetail"><i class="fa ">Chọn</i></a>
                        </div>
                    </div>
                </div>
                @*  } *@
            </div>

        </div>


    </div>

    </div>





</html>